.header-bar{
    
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    height: 32px;
    background-color: #e40046;
    display: flex;
    flex-direction: row;
    
    align-items: center ;
    z-index: 1;

}
.logo{
    height: 65px;
    width: 70px;
    object-fit: contain;
    margin-left: 30px;
    

}
.search-bar{
    width: 250px;
    height: 17px;
    margin-left: 30px;
    border-color: #e40046;
    border-width: 0px;
    border-radius: 1px;
    outline: none;
    
}
input::placeholder{
    font-size: 7px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: rgb(157, 153, 153);
}
.search-icon{
width:13px;
height: 13px;
object-fit: contain;
margin-top: 4px;
margin-left: 7px;
margin-right: -5px;
margin-bottom: 2px;
}
.search-box{
    background-color: #333;
    width: 60px;
    height: 20px;
    display: flex;
    margin-top: 1px;
   
}
.search-text{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif ;
    margin:0px;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
}
body{
    padding-bottom: 3000px;
    background-color: rgb(229, 229, 224);
    display: flex;
}
.cart-box{
 
   height: 30px;
   width: 68px;
   display: flex;
   margin-left: 50px;
   
   background-color: #e40046;
   border-style: solid;
   border-left-width: 0.5px;
   border-right-width: 0.5px;
   border-bottom-width: 0px;
   border-top-width: 0px;

   border-color: hsla(342, 90%, 39%, 0.427);

}
.cart-icon{
    height: 18px;   
    width: 18px;
    margin-top:6px;
    margin-left: 4px;
    padding-bottom: 22px;
    
  }
.cart-text{
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 15px;
    margin-right: 0px;
    margin-top: 11px;
    }
.Sign-in-box{
    height: 30px;
    width: 68px;
    display: flex;
    margin-left: 5px;
    background-color: #e40046;
}
.user-icon{
    height: 18px;   
    width: 18px;
    margin-top:6px;
    margin-left: 4px;
    padding-bottom: 22px;
    
  }
  .Sign-in-text{
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 15px;
    margin-right: 0px;
    margin-top: 11px;
    }
    .catagory-box{  
        position: static;
        height: 500px;
        width:105px;
        margin-top: 40px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: top    ;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;

        align-items: center;
        
    }
    .title1{
       width: 90px;
        height:15px;
        margin-bottom: 0px;
        font-size: 7px;
        font-family: arial;
        margin-top: 10px;
        margin-left: 15px;
        color: grey;

    }
    .cat{
       width: 73px;
       height: 20px;
       border: none;
       font-size: 8px;  
       display: flex;
       align-items: center;
       
       margin-left: 7px; 
       padding-left: 5px;
    }

         .cat:hover{
            background-color: rgb(247, 246, 246);
            border-style: solid;
            border-top-width: 0.2px;
            border-top-color:rgb(230, 225, 225) ;
            border-right-width: 0px;
            border-bottom-width: 0.5px;
            border-bottom-color:rgb(230, 225, 225) ;
            border-left-color: #e40046;
            border-left-width: 1.5px;
           }
         .cat-image
         {
            height: 13px;
            width: 13px;
            border-radius: 50%;
            margin-right: 3px;
        }
        .cat-text{
            margin-bottom: 4px;
            margin-left: 3px;
            color: grey;
            font-size: 6px;
            
            font-family: sans-serif, sans-serif;
        }

        .cat-more{
            width: 100%;
            height: 13px;
            border: none;
            font-size: 8px;  
            display: flex;
            align-items: center;
            margin-left: 1px; 
            padding-left: 5px;
         }
         .cat-text1{
            margin-bottom: 4px;
            margin-left: 12px;
            color: grey;
            font-size: 6px;
            text-align:left;
            
            font-family: sans-serif, sans-serif;
        }

         .cat-more:hover{
            width: 85px;
            background-color: rgb(247, 246, 246);
            border-style: solid;
            border-top-width: 0.2px;
            border-top-color:rgb(230, 225, 225) ;
            border-right-width: 0px;
            border-bottom-width: 0.5px;
            border-bottom-color:rgb(230, 225, 225) ;
            border-left-color: #e40046;
            border-left-width: 1.5px;
           
           }
           .cat-search{
            width: 73px;
            height: 13px;
            border: none;
            font-size: 8px;  
            display: flex;
            align-items: center;
            
            margin-left: -4px; 
            padding-left: 5px;

           }
        